<div id="orderHeader">
	<h2 id="order">Order Up</h2>
</div>


<%= form_for ([@account, @order]) do |f| %>

<div class="orderContainer">
   <div class="row orderRow">
      <form>
      	<div class="large-6 large-centered columns">
        <ul id="price-form">

          <div class="large-6 columns no-padding">
          <li class="required">
            
            <%= f.text_field :stock, autofocus: true, placeholder: "Ticker" %>
          </li>

          </div>
          <div class="large-6 columns no-padding">
          <li class="required">
            
            <%= f.number_field :qty, size: 6, placeholder: 'Shares' %>
          </li>
          </div>

        </ul>
        <div class="row">
        <div class="large-12 columns">
        <p>
          <%= f.submit %>
          <%= link_to "Cancel", '#', class: 'button' %>
        </p>
        </div>
        </div>
        </div>
      </form>
    <% end %>

</div> <!-- end orderBackground -->

    <!-- Price Information Area Right Side -->
<div class="row">
    <div class="large-2 columns large-centered stock-show">
      <div id="show-stock"></div>
      <div id="show-info"></div>
      <div id="show-qty"></div>
    	<div id="show-cost"></div>
    </div>
  </div>
</div>
