
<div id="orderHeader">
	<h2 id="order">Order Up</h2>
</div>

<!-- BEGIN ORDER CONTAINER -->
<div class="orderContainer">

  <%= form_for ([@account, @order]) do |f| %>
    <div class="row orderInputContainer">
      <form>
        <div class="large-6 large-centered columns">

          <ul id="price-form">
            <div class="large-6 columns no-padding">
              <li class="required">
              <%= f.text_field :stock, autofocus: true, placeholder: "Ticker" %>
              </li>
            </div>

            <div class="large-6 columns no-padding">
              <li class="required">
              <%= f.number_field :qty, size: 6, placeholder: 'Shares',  id:"shares" %>
              </li>
            </div>
          </ul>

          <div class="row">
            <div class="large-6 columns large-centered">
              <p>
                <%= f.submit "Confirm", class: "button" %>
                <%= link_to "Cancel", '#', class: 'button alert' %>
              </p>
            </div>
          </div>

        </div>
      </form>
    </div> <!-- end orderBackground -->
  <% end %>

<!-- ORDER TICKER TABLE -->
  <div class="row table-info">
    <div class="large-9 large-centered columns">
      <table >
        <thead>
          <tr>
            <th>header 1</th>
            <th width="150">Header 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Stock</td>
            <td id="show-stock"></td> 
          </tr>
          <tr>
            <td>Price</td>
            <td id="show-price"></td>
          </tr>
          <tr>
            <td>Quantity</td>
            <td id="show-qty"></td>
          </tr>
          <tr>
            <td>Cost</td>
            <td>Content Goes Here</td>
          </tr>
          <tr>  
            <td>New Balance</td>
            <td>Content Goes Here</td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
