<div class="contain-to-grid fixed">

<nav class="top-bar" data-topbar role="navigation">

  <ul class="title-area">
    <li class="name">
      <h1><%= link_to '<i class="fa fa-line-chart"></i>  Live Trader'.html_safe, root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>


<!-- Right Nav Section -->
  <section class="top-bar-section nav">  
    <ul class="right">
        
      <% if user_signed_in? %>
        <li><%= link_to "My Portfolio", account_path(1) %></li>        
        <li><%= link_to current_user.email, dashboard_path %></li>
        <li><%= link_to 'Logout', logout_path %></li>
      <% else %>
        <li><%= link_to '<i id="fontIcon" class="fa fa-plus-square"></i>Register'.html_safe, register_path %></li>
        <li>
          <a href="#" data-reveal-id="myModal"><i id="fontIcon" class="fa fa-sign-in" data-reveal-id="myModal"></i>Login</a>
        </li>
      <% end %>


    </ul>

<!-- Left Nav Section -->
    <ul class="left">
    <% if user_signed_in? %>
        <li><%= link_to '<i id="fontIcon" class="fa fa-twitter"></i>Feed'.html_safe, "#" %></li>
        <li><%= link_to '<i id="fontIcon" class="fa fa-sign-in"></i>Quick Order'.html_safe, new_account_order_path(1) %></li>
    <% end %>
    </ul>
  </section>
</nav>
</div>
<!-- End Top Bar -->

<!-- Login Modal -->
<div id="myModal" class="reveal-modal small" data-reveal>
  <h2 style="text-align: center">Log In Now!</h2>
  <%= render 'devise/sessions/login_form' %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- End Login Modal -->
