<div class="account-body">


<!-- FIRST: TWO QUICK INFO WINDOWS -->
	<div class="row quick-info">
		<!-- 1. Current Stocks in Portfolio -->
		<div class="large-6 columns account-container-2">
			<div>
				<strong class="port"><%= @account.stocks.uniq.count %> Stocks in Portfolio</strong>
			</div>
				<p class="your-stocks">
					<% if @account.stocks.any? %>
					<% @account.stocks.uniq.each do |stock| %>
						<%= stock.name %>
					<% end %>
					<% end %>
				</p>
		</div>

		<!-- 2. Balance Info -->
		<div class="large-3 columns account-info-2">
			<strong><%= @account.user.full_name %></strong><br>
			<p>
				Current Balance: <%= @account.balance %> <br>
				Balance Outstanding: <%= @account.balance %> <br>
				Profit/Loss <%= @account.balance %> <br>
			</p>
			<!-- TRADE BUTTON -->
			<div class="row">
				<%= link_to 'Make a Trade',  new_account_order_path(@account), class: 'button medium' %>
			</div>
		</div>

	</div>




<!-- SECOND LEVEL OF ACCOUNT INFO -->
	<div class="row">

	<!-- PREVIOUS STOCK ORDERS -->
		<div class="large-6 columns overflow">
			<div class="row panel">
				<%= @account.orders.count %> orders
			</div>
			<div>
				<% @orders.reverse.each do |order| %>
					<% if order.stock != nil %>
						<%= order.stock.name %> 
						<%= order.price %> |
						<%= order.qty %>  Shares |
						<%= order.created_at %><br>	
						<hr>
					<% end %>
				<% end %>
			</div>
		</div>
	

	<!-- PREVIOUS STOCK ORDERS -->
		<div class="large-5 columns overflow">
			<div class="row panel">
				<%= @account.orders.count %> orders
			</div>
			<div>
				<% @orders.reverse.each do |order| %>
					<% if order.stock != nil %>
						<%= order.stock.name %> 
						<%= order.price %> |
						<%= order.qty %>  Shares |
						<%= order.created_at %><br>	
						<hr>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

<!-- THIRD PANEL OF IMPORTANT FUTURE INFOMATION -->
<div class="row panel">
	<div class="large-12 columns">
		<h1>stuff is now in here</h1>
		<p class="lead">There is stuff in here</p>
	</div>
</div>




<!-- PAGE FOOTER -->

	<div class="row">
		<hr>
		<div class="large-4 large-centered columns">
			<p>2014 <%= @account.user.full_name %></p>
		</div>
	</div>


</div>














